@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(110px,auto))/repeat(2,250px);
            &-item {
                column-gap: 15px;
                grid-template-columns: 40px 195px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 50px;
        }
    }
    .skills {
        &__wrapper {
            width: 836px;
            margin: 0 auto;
            margin-top: 40px;
            grid-template: repeat(2,minmax(270px,auto))/repeat(3,270px);
        }
        &__lines {
            width: 745px;
            margin: 0 auto;
            grid-template: repeat(2,70px)/repeat(2,350px);
            padding-top: 70px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 505px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 240px);
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template-columns: 380px;
            &-item {
                grid-template-columns: 40px 320px;
                gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 70px;
        &__wrapper {
            margin: 0 auto;
            padding: 25px 12px 0 12px;
            column-gap: 50px;
            grid-template-columns: repeat(2,335px);
        }
    }
    .skills {
        &__wrapper {
            width: 553px;
            padding: 0;
            margin: 0 auto;
            margin-top: 40px;
            grid-template: repeat(2,minmax(270px,auto))/repeat(2,270px);
        }
        &__lines {
            width: 720px;
            margin: 0 auto;
            grid-template: repeat(2,70px)/repeat(2,350px);
            column-gap: 20px;
            padding-top: 70px;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 300px 380px;
        }
        &__textarea {
            grid-column: unset;
        }
        &__form {
            grid-template: 45px 45px 145px 45px 45px / 340px;
        }
        &__triggers {
            grid-column: unset;
            grid-row: 4 / 6;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            margin-top: 30px;
            align-items: center;
        }

    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__photo {
            grid-row: unset;
        }
        &__wrapper {
            grid-template: 400px auto auto/ 1fr;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 15px;
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 70px;
        &__wrapper {
            margin: 0 auto;
            padding: 25px 50px 0 50px;
            row-gap: 70px;
            column-gap: 0;
            grid-template-columns: 425px;
        }
    }
    .skills {
        &__wrapper {
            width: 540px;
            padding: 0;
            margin: 0 auto;
            margin-top: 40px;
            grid-template: repeat(2,minmax(270px,auto))/repeat(2,270px);
            gap: 5px;
        }
        &__lines {
            width: 350px;
            margin: 0 auto;
            grid-template: repeat(2,70px)/repeat(1,350px);
            column-gap: 20px;
            padding-top: 70px;
        }
        .portfolio {
            padding-top: 40px;
            &__wrapper {
               right: 40px;
            }
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            grid-row: unset;
        }
        &__wrapper {
            padding: 0;
            grid-template-columns: 300px 380px;
            grid-template: 400px auto/ 1fr;
            row-gap: 40px;
        }
    }

}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
            height: 93%;
        }
        &__social {
            bottom: 100px;
        }
    }
    .promo {
        min-height: 95vh;
        background: url('../img/main_bg.jpg') no-repeat 60%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto/ 1fr;
        }
        &__skills {
            grid-template-columns: 300px;
            &-item {
                grid-template-columns: 40px 220px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            max-width: 320px;
            margin: 0 auto;
            padding: 25px 10px 0 10px;
            row-gap: 40px;
            column-gap: 0;
            grid-template-columns: 280px;
        }
    }
    .skills {
        padding-top: 70px;
        &__wrapper {
            width: 270px;
            padding: 0;
            margin: 0 auto;
            margin-top: 40px;
            grid-template: repeat(2,minmax(270px,auto))/repeat(1,270px);
            row-gap: 20px;
            column-gap: 0;
        }
        &__lines {
            width: 300px;
            margin: 0 auto;
            grid-template: repeat(2,70px)/repeat(1,300px);
            column-gap: 20px;
            padding-top: 70px;
            &-line {
                width: 300px;
            }
        }
    }
    .contacts {
        padding-top: 40px;
        padding-bottom: 70px;
        &__photo {
            display: none;
        }
        &__wrapper {
            padding: 0;
            display: block;
            width: 300px;
            margin: 0 auto;

            justify-content: center;
        }
        &__form {
            grid-template: 45px 45px 145px 45px 45px / 300px;
        }
        &__policy {
            width: 180px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}